.navbar-brand{
    font-size: 30px;
}
#ss{
    font-size: 30px;
}
.branco{
    color: white;
}
#espaco{
    margin-top: 5%;
}
.nav{
	font-size: 20px;
}
.container-fluid{
	height: 50px;
}
.dropdown-menu{
	font-size: 25px;
}
.badge{
	font-size: 18px;
}