#contato table{
	margin: auto;
	background-color: #FFFACD;
}
.novo tr,td,th{
	text-align: center;
	font-size: 20px;
}
#contato {
	font-size: 20px;
}
h2{
	font-size: 40px;
}
#espace{
	margin-top: 10%;
}