form{
    font-size: 20px;
}

#login{
    text-align: center;
    float: right;
}

input{
    color: white;
    background-color: #3CBC8D;
    font-size: 15px;
    margin-bottom: 25px;
}

#imagem{
    margin-left: 50px; 
    margin-top: 60px;
    float: left;
    width: 900px;
    height: 500px;
    border: 1px solid black;
}

fieldset{
    margin: auto;
    margin-top: 5%;
    width:45%;
    height:60%;
}

label{
    float: left;
}
#cadastro{
    margin-left: 30px;
    margin-top: 380px;
}
button{
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
    color: white;
    background-color: #3CBC8D;
}