form{
    font-size: 20px;
}

#login{
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
}

input{
    height: 30px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 25px;
}
input[type=submit]{
    color: white;
    height: 40px;
    cursor: pointer;
    width: 50%;
    font-size: 25px;
    background-color: #3CBC8D;
}
#imagem{
    background-image: url("../imagens/img1.jpg");
    background-size: cover;
    margin-left: 30px; 
    margin-top: 30px;
    float: left;
    width: 950px;
    height: 530px;
    border: 5px solid black;
}

fieldset{
    background-color: #FFFFE0; 
    border: none;
    margin: auto;
    width: 4%;
    height: 450px;
}

label{
    font-size: 20px;
    float: left;
}
#cadastro{
    font-size: 25px;
    color: white;
    margin-left: 30px;
}
button{
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    box-sizing: border-box;
    color: white;
    background-color: #3CBC8D;
}
button:hover{
    transition: 2s;
    color: black;
    background-color: #4CAF50;
}
#embaixo{
    font-size: 40px;
    margin-top: 30%;
}
#h1{
    text-transform: capitalize;
    font-size: 60px;
    text-shadow: 2px 1px #FF7F50;
}