body {
    /* The image used */
    background-image: url(../imagens/ind.jpg);
    /* Set a specific height */
    min-height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-brand{
  font-size: 40px;
}
#cont{
  width: 100%;
}
.carousel-caption{
  color:  #E0FFFF;
  font-size: 30px;
  text-shadow: 3px 3px black;
}
.carousel-caption h3{
  font-weight: bold;
  font-size: 40px;
}
.btn{
  font-size: 30px;
  width: 30%;
  height: 60px;
}
.branco{
  color: white;
}