a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}
.list-group-item-heading h4{
	font-size: 30px;
}
#container{
	margin-top: 5%;
}
a {
	text-decoration: none;
}