a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}
.list-group-item-heading h4{
	font-size: 30px;
}
#container{
	margin-top: 5%;
}
a {
	text-decoration: none;
<<<<<<< HEAD
}
h4{
	font-weight: bold;
}
.list-group-item-heading{
	font-weight: bold;	
=======
>>>>>>> 8dfd6ef0b564aca8b63ac601a8af4b0c1c7056c8
}