/*#somos{
	width: 45%;
}*/
#altura{
	height: 100%;
}
#jumbo{
	font-size: 40px;
}
.rodape{
	/*position: absolute;*/
	bottom: 0;
}

.rodape{
	float: left;
	width: 100%;
	/*background-color: #00BFFF;*/
	background-color: #191919;
	color: gray;
	position:absolute;
    bottom:0;
    width:100%;
}