.rodape{
	float: left;
	width: 100%;
	/*background-color: #00BFFF;*/
	background-color: #191919;
	color: gray;
}
.rodape i{
	color: white;
}
.rodape strong{
	font-size: 25px;
}
.deep-purple{
	color: black;
}
hr{
    margin-left: 0;
}