.rodape{
	float: left;
	width: 100%;
	/*background-color: #00BFFF;*/
	background-color: black;
	color: gray;
}
.rodape i{
	color: gray;
}
.rodape strong{
	font-size: 25px;
}
.deep-purple{
	color: black;
}