#formu input[type=text] {
    width: 280px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	font-size: 20px;
	margin-top: 2%;
	/*margin-left:25%;*/
}
/*#formu input[type=text]:focus {
    width: 30%;
}*/
#formu input[type=image]{
	/*width: 25px;*/
	height: 25px;
}
.list-group{
	text-align: center;
	/*width: 20%;*/
	/*margin: auto;*/
	/*float: left;*/
}
.list-group-item{
	height: 80px;
	font-size: 20px;
}
#formulario{
	margin-top: 5%;
	font-weight: bold;
}
.row{
	/*width: 400px;*/
	margin-top: 3%;
	/*margin-right: 1%;*/
	/*float: right;*/
}
/*.col-md-4{
	width: 100%;
}*/
.thumbnail img{
	width: 100%;
}
.caption{
	width: 100%;
}
h1{
	margin-left: 65px;
	color: blue;
	font-weight: bold;
	font-size: 50px;
}
.preto{
	color: black;
}
#icone{
	margin-right: 100%;
}