#imagens{
	margin: auto;
	margin-right: 10%;
	margin-top: 1.5%;
	float: right;
	width: 800px;
	height: 500px;
}
#formu input[type=text] {
    width: 280px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	font-size: 20px;
	margin-top: 2%;
	margin-left:25%;
}
#formu input[type=text]:focus {
    width: 30%;
}
#formu input[type=image]{
	width: 25px;
	height: 25px;
}
.carousel{
	float: right;
	margin-top: 5%;
	width: 80%;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	height: 90%;
	margin: auto;
}
.list-group{
	text-align: center;
	width: 20%;
	margin: auto;
	float: left;
}
#formulario{
	margin-top: 5%;
	font-weight: bold;
}